.indextitel{
    color: rgb(105, 7, 97);
    text-align: center;
    font-size: 45px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.nav{
    display: block;
    padding: 8px;
    background-color: #0e0000;
    float: left;
    color: rgb(255, 255, 255);
text-align: center;  
}
.hometitel{
    text-align: center;
}
.youtube{
    margin-left: 55vw;
    transform: translate(-50%);
  }
  .contacttitel{
    text-align: center;

  }

  .pindex{
      text-align-last: center;
      color: magenta;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-style: inherit;
      font-size: 22px;
  }

  .form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .input{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  
  }
.submit{
    background-color: mediumvioletred;
    color: snow;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
}
